/* ---------
 * Team
 * ---------*/

/* default */

.team-row {
	display: flex;
	flex-direction: column;
}

.team-member {
	display: grid;
	flex-direction: column;
	background-color: $gray-muted-bg;
	border-top: 2px solid $brand-primary;
	height: auto;
	grid-template-columns: 1fr;

	@media only screen and (min-width: 768px) {
		flex-direction: row;
		margin-bottom: 15px;
		height: 250px;
		grid-template-columns: 175px 1fr;
	}

	.image-container {
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 800px;

		@media only screen and (min-width: 768px) {
			flex-direction: row;
			margin-bottom: 15px;
			height: 250px;
		}

	}

	img {
		object-fit: cover;
		width: 122%;
	}

	.member-info {
		padding: 15px 15px 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.name {
		display: inline;
		font-size: 18px;
		font-weight: 700;
		margin: 0;
	}

	.title {
		font-size: 16px;
		line-height: 1;
		display: block;
	}

	.short-bio {
		margin: 15px 0 0 0;
	}

	@include max-screen($break-small) {
		margin-bottom: 30px;

		.title {
			float: none;
		}
	}
}

/* big photo */
.team-member-big {
	margin: 0 0 80px 0;

	div[class*="col-"] {
		padding: 0;
	}

	div.left {
		padding-right: 30px;

		.content {
			padding-left: 30px;
		}
	}

	div.right {
		padding-left: 30px;

		.content {
			padding-right: 30px;
		}
	}

	.name {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 47px;
		font-weight: 300;
	}

	.title {
		display: block;
		margin-bottom: 15px;
		font-weight: 700;
		font-size: 22px;
		color: #c3c3c3;
	}

	.lead {
		margin-bottom: 30px;
	}

	.social-icons {
		margin-bottom: 70px;
	}

	.parallax-window {
		min-height: 656px;
		background: transparent;
		background-repeat: no-repeat;
	}

	@include max-screen($break-large) {
		margin-bottom: 20px;
	}
}

.skillmeter-bar {
	margin-bottom: 40px;
}

/* left and right side */
.team-member-sidebyside {
	margin-bottom: 60px;

	&.media img {
		width: 120px;
	}

	.media-body {
		padding-left: 20px;
	}

	.team-name {
		@include inline-block;
		@include border-radius(3px);

		padding: 0 10px;
		line-height: 1.6;
		color: #fff;
		font-weight: 300;
		background-color: $brand-primary;
	}

	strong {
		display: block;
		font-size: 14px;
		color: $global-heading-color;
	}

	p {
		margin-top: 10px;
	}

	@include max-screen($break-xsmall) {
		.team-name {
			font-size: 16px;
		}
	}
}

@include max-screen($break-xsmall) {
	.team {
		padding-bottom: 0;
	}
}
