@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);

.engineering {
  .content-images img {
    width: 100%;
    height: 400px;
  }

  section {
    max-width: 80%;
    margin: 0 auto;
  }

  section.with-image-left .img-150 {
    float: left;
    margin: 0 3rem;
  }

  section.with-image-right .img-150 {
    float: right;
    margin: 0 3rem;
  }

  .img-150 {
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: inline;
  }

  .img-150 img {
    height: 150px;
  }

  section h4 {
    border-bottom: 1px solid $section-heading-border-color;
    padding-bottom: 1rem;
  }

  section p {

    display: inline;
  }

  // h2 {
  //   text-align: left;
  //   padding: 40px;
  // }

  h2 + h4 {
    text-align: center;
  }

  $black: #1d1f20;
  $blue: #004680;
  $green: #91c7ff;
  $yellow: #003867;
  $white: #fafafa;

  /* box-shadow */
  %boxshadow {
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
  }

  ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
  padding-top: 2rem;
  > li {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    @extend %boxshadow;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    font-size: 1.7rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;

    &::before,
    &::after {
      background: linear-gradient(135deg, $blue 0%,$green 100%);
      border-radius: 1rem 1rem 0 1rem;
      content: '';
      height: 3rem;
      left: -1rem;
      overflow: hidden;
      position: absolute;
      top: -1rem;
      width: 3rem;
    }

    &::before {
      align-items: flex-end;
      @extend %boxshadow;
      content: counter(gradient-counter);
      color: $white;
      display: flex;
      font-weight: 900;
      font-size: 1.2em/1;
      font-family: 'Montserrat';
      justify-content: flex-end;
      padding: 0.125em 0.25em;
      z-index: 1;
    }
    @for $i from 1 through 5 {
      &:nth-child(10n+#{$i}):before {
        background: linear-gradient(135deg, rgba($green, $i * 0.2) 0%,rgba($yellow, $i * 0.2) 100%);
      }
    }
    @for $i from 6 through 10 {
      &:nth-child(10n+#{$i}):before {
        background: linear-gradient(135deg, rgba($green, 1 - (($i - 5) * 0.2)) 0%,rgba($yellow, 1 - (($i - 5) * 0.2)) 100%);
      }
    }
    + li {
      margin-top: 2rem;
    }
  }
  }
}
