#wrapper.safety {

  h4 {
    font-weight: normal !important;
  }

  section.safety-content p {
    font-size: 1.7rem;
    text-indent: 1.5rem;
    margin-bottom: 2rem;
  }


  .content-images {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @include min-screen($break-small) {
      height: 400px;
      flex-direction: row;
    }

    img {
      width: 50%;
    }

    img:last-child {
      display: none;
      width: 100%;

      @include min-screen($break-small) {
        display: block;
        width: 50%;
      }
    }

  }
}
