#wrapper.safety {

  h4 {
    font-weight: normal !important;
  }

  section.safety-content p {
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }


  section.safety-table {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 3rem;
      
    table {
      border-collapse: collapse;
      width: 90%; 
    }
    th, td {
      padding: 10px;
      text-align: center; 
    }
    th {
      background-color: #f2f2f2; 
    }
    table, th, td {
      border: 2px solid black;
    }
  }








  .content-images {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 400px;

    @include min-screen($break-small) {
      height: 600px;
      flex-direction: row;
    }

    img {
      height: 100%;

      @include min-screen($break-small) {
        height: auto;
        width: 100%;
      }
    }

  }
}
